/* Change Brand Font */
.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2em;
    font-weight: bold;
  }
  
  /* Change Navigation Color */
  .navbar #myMenu .custom-nav .nav-item a {
    color: #fff;
  }
  
  .navbar #myMenu .custom-nav .nav-item a:hover {
    color: #F0AAB1;
  }
  
  /* Make Header Image Responsive */
  .back-image {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 90vh;
    border-radius: 0px;
    margin-top: 74px;
  }
  /* Header Image Sub-Title */
.font-italic {
  font-size: 24px;
}
/* Setting Margin for Welcome to edveri */
.mainHeading {
  margin-top: 50px;
}
/* Setting Margin and Alignment for Welcome to edver Mobile View */
@media only screen and (max-width: 600px) {
  .myclass {
    margin-top: 350px;
    text-align: center;
  }
}